/*  MOBILE / DESKTOP
    375px  / 1440px*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-dark-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);
    --neutral-dark-gray: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 18px;
    background-color: var(--primary-dark-cyan);
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*section .bg-image {
    width: inherit;
    height: inherit;
    background-image: url('../image/bg-pattern-top.svg');
    background-size: 890px;
    background-position:left;
    transform: rotate(34deg);
    background-repeat: no-repeat;
    margin-right: 200px;
    position: absolute;
}
section .bg-image-second {
    width: inherit;
    height: inherit;
    background-image: url('../image/bg-pattern-bottom.svg');
    background-size: 1000px;
    background-position:right;
    transform: rotate(35deg);
    background-repeat: no-repeat;
    margin-left: 298px;
    margin-bottom: -310px;
    position: absolute;
}*/

section .bg-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .top {
    position: absolute;
    bottom: 50%;
    right: 50%;
}
section .bottom {
    position: absolute;
    top: 50%;
    left: 50%;
}



/*section .bg-image img {
    width: 900px;
}
section .bg-image img:first-child {
    margin-right: 100px;
    margin-left: -120px;
}
section .bg-image img:last-child {
    margin-right: -120px;
    margin-left: 100px;
}*/




/*CONTAINER CONFIGS*/
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 375px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
}


/*BACKGROUND-TOP-CARD*/
.container .image img {
    width: 100%;
    height: auto;
}


/*PROFILE PICTURE*/
.container .profile-picture {
    top: 23%;
    position: absolute;
    width: 110px;
    height: auto;
}
.container .profile-picture img {
    width: 104px;
    height: auto;
    border-radius: 50%;
    border: 6px solid white;
}


/*NANE, AGE AND CITY*/
.container .name {
    height: auto;
    margin-top: 43px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container .name .name-info {
    display: flex;
    align-items: center;
}
.container .name .name-info h2 {
    font-size: 18px;
    margin-right: 10px;
}
.container .name p {
    color: var(--neutral-dark-gray);
}
.container .name .city {
    margin-top: -10px;
}
.container .name .city p {
    font-size: 16px;
    text-align: center;
    margin: 0;
}


/*LINE*/
.line {
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    margin: 28px 0px;
}


/*INFO-NUMBERS*/
.container .numbers {
    height: auto;
    width: 100%;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}
.container .numbers .number {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}
.container .numbers .numbers-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    color: var(--neutral-dark-gray);
    margin-top: -30px;
    margin-left: -13px;
}
.container .numbers .numbers-info p:first-child {
}